= form_for :dump, :url=>{:action=>"import_csv"}, :html => { :multipart => true } do |f|
  = f.file_field :csv
  = f.submit "Upload Training Providers", :disable_with => 'Uploading Training Providers...'