%h3 Template settings
%p.divider
%table.table.table-condensed.table-hover.table-stripped
  %tbody
    %tr
      %td Export format
      %td= template.export_format

    %tr
      %td Drive Id
      %td= template.drive_id

    %tr
      %td= link_to 'Generate document', '#'
      %td
